.rustic-input-container .rustic-bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.rustic-input-container .rustic-text-input fieldset[aria-hidden='true'] {
  border-width: 1px;
}

.rustic-input-container .rustic-text-input {
  min-width: 248px;
}

.rustic-input-container .rustic-text-input > div {
  flex-wrap: wrap;
}

.rustic-input-container .rustic-files {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
}

.rustic-input-container .rustic-error-message {
  display: block;
}

.rustic-input-container .rustic-text-input-container {
  flex-direction: column;
}

.rustic-input-container
  .rustic-text-input-container
  .rustic-text-input
  fieldset[aria-hidden='true'] {
  border-width: 1px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rustic-input-container .rustic-input-actions {
  width: 100%;
  position: relative;
}

.rustic-input-container .rustic-input-actions .rustic-send-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
